<div id="about-site">

  <h3>About CIRN</h3>

  <p>
    St. Thomas University Centre for Interdisciplinary Research on Narrative (CIRN) is based in Fredericton, New Brunswick, Canada, and was established through funding from the Social Sciences and Humanities Research Council of Canada on April 2008. Our mission at CIRN is to serve those working with narratve ideas and approaches in various disciplines within St. Thomas University and beyond by facilitating research on the role of narrative (or story) in human experience, by asisting the development of theory on the storied complexity of human life, and by encouraging the use of narrative approaches to practice in a variety of fields.
  </p>

  <h3>About CSN</h3>

  <p>
    The Center for the Study of Narrative (CSN) is a multidisciplinary service and research initiative, housed within Mercer's Penfield College and the Department of Counseling, and provides a forum for citizens to to tell unique personal stories while giving students theoretical and practical training in such skills as writing and storytelling, active listening, genealogical construction, and techniques of narrative analysis. CSN brings together the fields/programs of communication, psychology, sociology, human services, literary studies and writing, historical studies, and counseling.
  </p>

  <br>
  <p>
  Please click <a href="/contact/suggest_reference">here</a> to suggest the
  inclusion of a new item to the bibliography.
  </p>
</div>
