<p id="about-site">
  The Bibliography of Interdisciplinary studies is a searchable bibliography of
  books, articles, and other resources that are relevant to "Narrative",
  directly or otherwise, in a broad range of disciplines and fields. The
  bibliography is provided by
  <a href="http://w3.stu.ca/stu/sites/cirn/index.aspx">The Centre for
  Interdisciplinary Research on Narrative (CIRN)</a> at St. Thomas University,
  in collaboration with the <a href="https://penfield.mercer.edu/faculty/strategic-initiatives/center-of-narrative/">
  Center for the Study of Narrative (CSN)</a> of Mercer University in Atlanta.
</p>

<div id="cirn-csn" class="container">
  <div id="about-cirn" class="col-md-5">
    <a href="https://http://w3.stu.ca/stu/sites/cirn/index.aspx">
      <img class="pull-right" id="cirn-logo"
      src="/themes/custom/ns_custom/images/cirn_logo.png">
    </a>
    <p>
      St. Thomas University Centre for Interdisciplinary Research on Narrative
      (CIRN) is based in Fredericton, New Brunswick, Canada, and was established
      through funding from the Social Sciences and Humanities Research Council
      of Canada on April 2008. Our mission at CIRN is to serve those working
      with narratve ideas and approaches in various disciplines within St.
      Thomas University and beyond by facilitating research on the role of
      narrative (or story) in human experience, by asisting the development of
      theory on the storied complexity of human life, and by encouraging the use
      of narrative approaches to practice in a variety of fields.
    </p>
  </div>
  <div class="col-md-2">
  </div>
  <div id="about-csn" class="col-md-5">
    <a href="https://penfield.mercer.edu/faculty/strategic-initiatives/center-of-narrative/">
      <img class="pull-right" id="csn-logo"
      src="/themes/custom/ns_custom/images/csn_logo.png">
    </a>
    <p>
      The Center for the Study of Narrative (CSN) is a multidisciplinary service
      and research initiative, housed within Mercer's Penfield College and the
      Department of Counseling, and provides a forum for citizens to to tell
      unique personal stories while giving students theoretical and practical
      training in such skills as writing and storytelling, active listening,
      genealogical construction, and techniques of narrative analysis. CSN
      brings together the fields/programs of communication, psychology,
      sociology, human services, literary studies and writing, historical
      studies, and counseling.
    </p>
  </div>
</div>
