<p id="intro-site">
  The Bibliography of Interdisciplinary Narrative Studies is a searchable bibliography of
  books, articles, and other resources that are relevant to narrative,
  directly or otherwise, in a broad range of disciplines and fields. The
  bibliography is provided by
  <a href="http://w3.stu.ca/stu/sites/cirn/index.aspx">The Centre for
  Interdisciplinary Research on Narrative (CIRN)</a> at St. Thomas University,
  in collaboration with the <a href="https://penfield.mercer.edu/faculty/strategic-initiatives/center-of-narrative/">
  Center for the Study of Narrative (CSN)</a> of Mercer University in Atlanta.
</p>

<div id="cirn-csn" class="container clearfix">
  <div id="about-cirn" class="col-md-5">
    <a href="http://w3.stu.ca/stu/sites/cirn/index.aspx">
      <img class="pull-right" id="cirn-logo"
      src="/themes/custom/ns_custom/images/cirn_logo.png">
    </a>
    <p>
      St. Thomas University Centre for Interdisciplinary Research on Narrative (CIRN)
      is based in Fredericton, New Brunswick, Canada, and was established
      through funding from the Social Sciences and Humanities Research Council
      of Canada on April 2008.
      <br>
      <br>
      Read more about CIRN <a href="/about">here</a>.
    </p>
  </div>
  <div class="col-md-2">
  </div>
  <div id="about-csn" class="col-md-5">
    <a href="https://penfield.mercer.edu/faculty/strategic-initiatives/center-of-narrative/">
      <img class="pull-right" id="csn-logo"
      src="/themes/custom/ns_custom/images/csn_logo.png">
    </a>
    <p>
      The Center for the Study of Narrative (CSN) is a multidisciplinary service
      and research initiative, housed within Mercer's Penfield College and the
      Department of Counseling in Atlanta, Georgia, USA.
      <br>
      <br>
      Read more about CSN
      <a href="/about">here</a>.
    </p>
  </div>
</div>
