<p>
  The Bibliography of Interdisciplinary studies is a searchable bibliography of
  books, articles, and other resources that are relevant to "Narrative",
  directly or otherwise, in a broad range of disciplines and fields. The
  bibliography is provided by
  <a href="http://w3.stu.ca/stu/sites/cirn/index.aspx">The Centre for
  Interdisciplinary Research on Narrative (CIRN)</a> at St. Thomas University,
  in collaboration with the <a href="https://penfield.mercer.edu/faculty/strategic-initiatives/center-of-narrative/">
  Center for the Study of Narrative (CSN)</a> of Mercer University in Atlanta.
</p>
